<div id= 'text3'>
<h1>Sobre Nosotros</h1>
</div>


<p id='primero'>Taxi-Express es la Web de solicitud de taxis más usada en el pais. 
La aplicación conecta a los usuarios pasajeros y usuarios conductores, de forma fácil, rápida y segura.
Taxi-Expressestá disponible para tablet, pc y celulares.
</p>
<div id='his'>
<h2>Nuestra historia</h2>
</div>

<p>
Lanzada en Enero de 2015, la idea de la aplicación surgio en el 2014. Después de eso, Taxi-Express se convirtió en el pionero en servicios
de geolocalización vía aplicación en Perú.
 Actualmente disponible en todas la ciudades del pais, Taxi-Express ha redefinido  el servicio de solicitud de taxis.
</p>
<image src="images1.jpg" width="650" height="300" ></image>
