<div id='text4'>
<h1>CONTACTO</h1>
    <p>¿Tienes dudas, sugerencias, elogios o críticas? Contacta nuestro servicio de atención al cliente en Perú por teléfono o correo.</p>
</div>

<div id='info'>
    
   <p>Atención al usuario: 01564613</p>
   <p>contact@taxiexpress.com.pe</p>
   <p>Av. La marina 1650 San Miguel</p>
</div>
<div>
<from>
   
   <label for='nombre'>Tu Nombre:</label>
   <input type='text' id='nombre' placeholder='Escribe tu nombre' required>
    <label for='correo'>Tu e-mail:</label>
   <input type="email" id='correo'placeholder='Escribe tu e-mail'required >
   <label for='telefono'>Télefono:</label>
   <input type='text' id='telefono'placeholder='Escribe tu teléfono'  >
   <label for='mensaje'>Mensaje:</label>
   <textarea  id='mensaje' style="padding: 6px 12px;" cols="40 " rows="9"></textarea>
   
   <input type='submit' value='Enviar datos' id='btnsend'>
</from>
</div>
