
 <video src="video.mp4" autoplay controls loop width="780" height="550">
</video>
<div id='text'>
<p>La solución número uno para conseguir taxis para personas y empresas en las ciudades del país</p>
</div>

<div id='text2'>
<p>El servicio mas Seguro</p>
<p>
Conoce la información del conductor, sigue su recorrido por GPS y revisa su fotografía. 
Todos los conductores pasan por un riguroso proceso de filtroy capacitación de servicio.</p>
<p>RÁPIDO</p>
<p>
¿Sabías que el tiempo promedio de llegada en Lima es de 4 minutos? Todo al alcance de un solo clic</p>
<p>FÁCIL</p>
<p>
Pide tu taxi con solo un clic. Paga en efectivo o ingresa tu tarjeta por única vez y paga tus próximos viajes con tu tarjeta preferida.</p>
<p>
    Registrate y comiensa la mejor experiencia en servicio de taxi.
</p>
</div>