<h1>Registro de usuario</h1>
<p>Find me in app/views/pages/registro.html.erb</p>

<div>
<from>
   
   <label for='nombre'>Nombre:</label>
   <input type='text' id='nombre' placeholder='Escribe tu nombre' required>
     <label for='apellidop'>Apellido Paterno:</label>
   <input type='text' id='apellidop' placeholder='Escribe tu nombre' required>
      <label for='apellidom'>Apellido Materno:</label>
   <input type='text' id='apellidom' placeholder='Escribe tu nombre' required>
    <label for='correo'>Tu e-mail:</label>
   <input type="email" id='correo'placeholder='Escribe tu e-mail'required >
   <label for='telefono'>Télefono:</label>
   <input type='text' id='telefono'placeholder='Escribe tu teléfono'  >
    <label for='direcion'>Dirección:</label>
   <input type='text' id='direcion'placeholder='Escribe tu teléfono'  >
   
   <input type='submit' value='Enviar datos' id='btnsend'>
</from>
</div>