// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#text4
{
    text-align:center;
    font-size:30px;
}
#text4 p
{
    text-align:center;
    font-size:15px;
}
#info{
    text-align:center;
    font-size:17px;
}
label
{
    display:block;
}
#btnsend
{
    -webkit-appearance: button;
       
    vertical-align: middle;
    display: inline-block;
    cursor:pointer;
        font-family: 'Roboto Condensed',arial,sans-serif;
            color: #fff;
    background-color: #363636;
    background-image: linear-gradient(to bottom,#444,#222);
    text-transform: uppercase;
    border-radius: 0;
        float: right!important;
    
    
}

    
