#text
{
font-size: 25px;
color: #000000;
margin: 0 auto;
text-align: center;


}

#text2
{
    font-size: 15;
	width: 1200px;
background-color: #C0C0C0;
color: #FFFFFF;
margin: 0 auto;
text-align: center;
border-radius: 30px;



}
#text3
{
    text-align:center;
    font-size:30px;
}

#primero {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#his{
    text-align:left;
    font-size: 30px;
}